.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid rgb(240, 240, 240);
  text-transform: uppercase;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    border: 1px solid rgb(209, 209, 209);
  }
}

.read-more {
  width: 125px;
  font-size: 0.85rem;
}
