nav {
  @include space-between-center;
  padding: 0px 64px;
  height: 64px;
  box-shadow: 1px -2px 2px 2px grey;
}
h2 {
  margin: 0;
}

nav ul {
  @include display-flex;
  padding-inline-start: 0;
}

nav ul a {
  list-style-type: none;
  padding: 8px;
  cursor: pointer;
}

header {
  background-color: #f5f5f5;
}

a {
  color: black;
}
