.post {
  @include display-flex-col;
  background-color: #fefefe;
  border-radius: 3px;
  margin-bottom: 1%;
}

.post-overview-wrapper {
  width: 100%;
  @include space-between-center;
}

.post-link {
  margin: 1em 0;
}

h3 {
  margin: 1% 0%;
}
