.post {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border-radius: 3px;
  margin-bottom: 1%;
}

.post-overview-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-link {
  margin: 1em 0;
}

h3 {
  margin: 1% 0%;
}
