.sidebar-card {
  @include center;
  @include flex-direction-col;
  background-color: #fefefe;
  width: 75%;
  margin-bottom: 2%;
  img {
    width: 100%;
  }
  .sidebar-card {
    width: 100%;
    align-items: flex-start;
  }
}

.sidebar-card-title {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 1em;
}

.recent-posts {
  align-items: flex-start;
  padding: 1em;
}

.social-icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
